<div class= "row" style="
    margin-top: 58px;
    margin-left: 15px;
">
  <div class="col-md-10 col-sm-10" align="left">
    <h1><%= @recipe.name %></h1>
  </div>
  <div class="col-md-2 col-sm-2" align="right">
    <a href="/recipes">
			<button type="button" class="btn btn-warning"style="
					width: 100px;
					height: 50px;
					margin-top: -10px;
					margin-right: 20px;
					">
					Voltar</button>
		</a>
  </div>
</div>
<br>
<div class="row" style="
    margin-left: 0px;
    margin-bottom: 15px;
">
  <div class="col-md-4 col-sm-4">
    <%= image_tag @recipe.avatar.url(:medium), size: "300x300"%>
  </div>
  <div class="col-md-2 col-sm-2">
    <h4><strong>Ingredientes</strong></h4>
    <p>
     <%= @recipe.ingredients.gsub(/\n/, '<br/>').html_safe %>
   </p>
  </div>
  <div class="col-md-6 col-sm-6">
    <h4><strong>Receitas</strong></h4>
    <p>
      <%= @recipe.directions.gsub(/\n/, '<br/>').html_safe %>
    </p>
  </div>
</div>
