<body>
  <div class="row">
  <div class="col-md-12 col-sm-12" align="right">
    <%= link_to "Voltar", root_path %>
  </div>
</div>
  <div class="section">
    <div class="container">
      <div class="row">
        <% @events.each do |event| %>
        <div class="col-md-4">
          <%= image_tag event.avatar.url, size: "250x250", :class=> "images-things"%>
          <h1><%= link_to event.name, event%></h1>
          <p><%= event.description %></p>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</body>