<body>
  <div class="row" style="
    margin-top: 75px;
">
  <div class="col-md-12 col-sm-12" align="right">
    <a href="/">
      <button type="button" class="btn btn-warning"style="
          width: 100px;
          height: 50px;
          margin-top: -30px;
          margin-right: 20px;
          ">
          Voltar</button>
    </a>
  </div>
</div>
  <div class="section">
    <div class="container">
      <div class="row">
        <h1>Restaurantes: </h1>
        <% @restaurants.each do |restaurant| %>
        <div class="col-md-4">
          <%= image_tag restaurant.avatar.url, size: "250x250", :class=> "images-things"%>
          <h1><%= link_to restaurant.name, restaurant%></h1>
          <p><%= restaurant.description %></p>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</body>
