<body>
  <div class="row">
  <div class="col-md-12 col-sm-12" align="right">
    <%= link_to "Voltar", root_path %>
  </div>
</div>
  <div class="section">
    <div class="container">
      <div class="row">
        <% @restaurants.each do |restaurant| %>
        <div class="col-md-4">
          <%= image_tag restaurant.avatar.url, size: "250x250", :class=> "images-things"%>
          <h1><%= link_to restaurant.name, restaurant%></h1>
          <p><%= restaurant.description %></p>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</body>