<div class="cover">
      <div class="cover-image">
        <img src="<%=image_path "cover.jpg"%>">
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1 id="label">Curta + Gastronomia</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
          	<a href="/restaurants">
	            <img src="<%=image_path "restaurant.jpg"%>"
	            width="360" height="250" style="-webkit-border-radius: 99px 50px 50px 0px;-moz-border-radius: 99px 50px 50px 0px;border-radius: 99px 50px 50px 0px;background-color:#E3A20B;">
              <button type="button" class="btn btn-default" style="
                  width: 170px;
                  height: 50px;
                  margin-top: 10px;">
                  Restaurantes</button></a>
          </div>
          <div class="col-md-4">
          	<a href="/recipes">
            <img src="<%=image_path "recipe.jpg"%>"
            width="360" height="240" style="-webkit-border-radius: 99px 50px 50px 0px;-moz-border-radius: 99px 50px 50px 0px;border-radius: 99px 50px 50px 0px;background-color:#E3A20B;">
            <button type="button" class="btn btn-default" style="
                width: 170px;
                height: 50px;
                margin-top: 10px;">
                Receitas</button>
              </a>
          </div>
          <div class="col-md-4">
          	<a href="/events">
            <img src="<%=image_path "event.jpg"%>"
            width="360" height="240" style="-webkit-border-radius: 99px 50px 50px 0px;-moz-border-radius: 99px 50px 50px 0px;border-radius: 99px 50px 50px 0px;background-color:#E3A20B;">
            <button type="button" class="btn btn-default" style="
                width: 170px;
                height: 50px;
                margin-top: 10px;">
                Eventos</button>
          </a>
          </div>
        </div>
      </div>
    </div>
